<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment-user-image">
      <%= image_tag comment.user.image.url %>
    </div>
    <p><%= link_to "#{comment.user.nickname}さん", user_path(comment.user.id) %></p>
    <p>コメント：<%= comment.body %></p>
    <% if comment.user == current_user %>
      <p><%= link_to "削除", [@tournament, @post, comment], method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>