<%= link_to user do %>
  <label>
    <div class="users-content">
      <%= image_tag "#{user.image}" %>
      <div class="nickname"><%= user.nickname %></div>
      <div class="comment"><%= user.comment %></div>
    </div>
  </label>
<% end %>