<h2>登録アングラー一覧</h2>
<section id="users">
  <div class="container">
    <div class="users-wrapper">
      <div class="users-contents">
        <%= render @users %>
      </div>
    </div>
  </div>
</section>