<section id="users">
  <section id="page_title">
    <h1>登録アングラー一覧</h1>
  </section>
  <div class="container">
    <div class="users-wrapper">
      <div class="users-contents">
        <%= render @users %>
      </div>
    </div>
  </div>
</section>
<section id="pagination">
  <div class="pagination justify-content-center"><%= paginate(@users) %></div>
</section>