<%= javascript_pack_tag 'tournament/image_list', 'data-turbolinks-track': 'reload' %>
<section id="tournament_new">
  <section id="page_title">
    <h1><%= "#{@tournament.fishing_ground}CUPの編集" %></h1>
  </section>
  <div class="container">
    <%= form_with model: @tournament, local: true do |f| %> 
      <%= render :partial => 'tournament_form', :locals => {:f => f, :edit_flag => true} %>
    <% end %>
  </div>
</section>

