<%= javascript_pack_tag 'tournament/image_list', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <section id="tournament_new">
    <h1>WEBトーナメント新規作成画面</h1>
    <br>
    <%= form_with model: @tournament, url: confirm_tournaments_path, html: { method: :post }, local: true do |f| %>
      <%= render partial: 'tournament_form', locals: {f: f} %>
    <% end %>
  </section>
</div>