<div class="top">
  <div class="top-wrapper">
    <div class="top_message">
      <h2>釣果を競い合おう・共有しよう</h2>
      <p>釣りに関する情報共有を目的に、フィールド別での今日の最大魚を競い合うWEBトーナメントサービスです</p>
    </div>
  </div>
</div>

<section id="top">
  <h2 class="text-center">イベント情報</h2>
  <div class="text-center">
    <%= link_to "もっとみる", '#' %>
  </div>

  <h2 class="text-center">WEBトーナメント情報</h2>
  <div class="event">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to  "もっとみる", '#' %>
  </div>

  <h2 class="text-center">釣果情報</h2>
  <div class="text-center">
    <%= link_to  "もっとみる", '#' %>
  </div>
</section>
