<% if user_signed_in? %>
  <% if post.niced_by?(current_user) %> 
    <%=link_to tournament_post_nices_path(@tournament.id, post.id), method: :delete, remote: true do %>
      <p class="after_nice"><i class="far fa-thumbs-up faa-bounce animated i_nice"></i><span>いいね! </span><%= post.nices.count %></p>
      <% end %>
  <% else %>
    <%=link_to tournament_post_nices_path(@tournament.id, post.id), method: :post, remote: true do %>
      <p class="before_nice"><i class="far fa-thumbs-up i_nice"></i><span>いいね! </span><%= post.nices.count %></p>
    <% end %>
  <% end %>
<% else %>
<% end %>