#post_new {
  // 必須項目
  .label{
    background-color: red;
    padding: .2em .6em .3em;
    font-size: 50%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    border-radius: 8px;
  }
  .thumbnail {
    margin: auto;
		width: 100%;
		height: auto;
		overflow:	hidden;
		position:	relative;
    cursor: pointer;
    #post_img {
      display: none;  /* 本来のファイル選択フォームは非表示に */
    }
    img {
      height: 400px;
      width: 100%;
      object-fit: contain;
    }
    #img_prev {
      border: 2px solid #dddddd;  /* 枠線 */
      display: inline-block;     /* インラインブロック化 */
    }
    .caption {
      font-size: 130%;
      text-align: center;
      color: #fff;
    }
    .mask {
      width: 100%;
      height: 400px;
      position:	absolute;
      top: 0;
      left:	0;
      opacity: 0;	/* マスクを表示しない */
      background-color: rgba(0,0,0,0.4);
      -webkit-transition:	all 0.6s ease;
      transition:	all 0.6s ease;
    }
	}
	.thumbnail:hover .mask {
		opacity: 1;	/* マスクを表示する */
		padding-top: 180px;	/* ホバーで下にずらす */
  }
  .must_text {
    padding: 8px;
    margin: 30px 10px 10px 10px;
    background-color: #FCF9EC;
  }
  .report_text {
    padding: 8px;
    margin: 30px 10px 30px 10px;
    background-color: #FCF9EC;
  }
  @media (min-width: 0px) {
    
  }

  @media (min-width: 767px) {
    
  }

  @media (min-width: 992px) {
    
  }

  @media (min-width: 1200px) {
    
  }
}