#post_record {
  a {
    text-decoration: none;
  }
  .card_header {
    background-color: white;
    .header_name {
      color: #555555;
    }
    img {
      font-size: 30px;
      color: #FFF;
      margin: 8px 8px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }  
  }

  .rule_info {
    margin-bottom:50px;
    padding: 0 3px;
    border: solid 1px #CCC;
  }
  table {
    font-size: 15px;
    border-collapse: separate;
    border-spacing: 0px 4px;
  }
  table th{
    padding: 10px 10px 10px 20px;
    color: white;
    background: #5989CF;
  }
  table td{
    background: #EEEEEE;
    padding: 10px 10px 10px 20px;
  }

  .card_body {
    padding: 15px 15px;
    background-color: white;
    .fish_img {
      margin-right: 15px;
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 2px;
    }
    .item_body {
      padding: 15px 15px ;
      display: flex;
    }
    .item_body:hover {
      background-color: rgba(190, 226, 255, 0.2);
    }
    .media_body {
      color: #555555;
      ul {
        padding-left: 10px;
        list-style: none;
      }
    }
  }
}