#post_ranks {
  .page_title {
    margin: 20px 0;
    padding: 10px 10px;
    background:#EEEEEE;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .ranks-wrapper {
    background-color: white;
    height: auto;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    .limit {
      color: white;
      background-color: #5989cf;
      b {
        color: yellow;
      }
    }
    .rank_item {
      padding: 15px 15px 15px 15px;
    }
    .rank_item:hover {
      background-color: rgba(190, 226, 255, 0.2);
    }
    .item_body {
      display: flex;
    }
    .max_img {
      margin-right: 15px;
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 2px;
    }
    .media_body {
      .rank_name {
        font-weight: bold;
        color: #555555;
        .i_gold {
          color: rgba(255, 217, 0, 0.8);
        }
        .i_silver {
          color: rgba(132, 134, 136, 0.8);
        }
        .i_copper {
          color: rgba(212, 99, 34, 0.8);
        }
        .i_green {
          color: rgba(34, 212, 129, 0.8);
        }
        .i_none {
          opacity: 0;
        }
      }
      ul {
        padding-left: 0px;
        list-style: none;
        li {
          color: rgba(145, 145, 145, 0.9);
        }
      }
      .fa-chart-bar {
        margin-right: 5px;
      }
      span {
        margin-right: 15px;
      }
      .text_info {
        color: #3498db;
      }
    }
  }
  @media (min-width: 0px) {  
    .media_body {
      .rank_name {
        font-size: 20px;
        .user_img {
          margin: 4px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      ul li {
        font-size: 18px;
        .fa-chart-bar {
          display: none;
        }
      }
    }
  }

  @media (min-width: 767px) {
    .media_body {
      .rank_name {
        font-size: 20px;
        .user_img {
          margin: 4px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      ul {
        display: flex;
        li {
          font-size: 18px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .media_body {
      .rank_name {
        font-size: 30px;
        .user_img {
          margin: 8px 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      ul {
        display: flex;
        li {
          font-size: 25px;
        }
      }
    }  
  }

  @media (min-width: 1200px) { 
    .media_body {
      .rank_name {
        font-size: 35px;
        .user_img {
          margin: 8px 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      ul li {
        font-size: 30px;
      }
    }
  }   
}