#top {
  .slide {
    position: relative;
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .slide img {
    position: absolute;
    height: 500px;
    width: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
    height: 100%;
    object-fit: cover;
  }
  .top_content_info {
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 30px;

    .content_title {
      font-weight: bold;
      background-color: #CCC;
      margin-bottom: 20px;
    }
  }
  // .top_tournament_info {
  //   background-color: white;
  //   border-top: 1px solid #CCC;
  //   border-bottom: 1px solid #CCC;
  //   padding: 10px 0;
  // }
}