#top {
  .slide {
	position: relative;
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  }
  .slide img {
    position: absolute;
    height: 500px;
    width: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
    height: 100%;
    object-fit: cover;
  }
}