#tournament_show {
  .page_title {
    margin: 20px 0;
    padding: 10px 10px;
    background:#EEEEEE;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .cup-wrapper {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
    .thumbnail {
      text-align: center;
      position: relative;
      background: #ffffff;
      overflow: visible;
      .thumb img {
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
        background-color: #D5EEFF;
      }
      .title {
        text-align: center;
        position: absolute;
        top: 20px;
        width: 100%;
        font-style: oblique;
        color: #ffffff;
        text-shadow:0 0 10px rgba(255, 255, 255, 0.8);
      }
      .sub_title {
        width: 100%;
        background-color: #ff0000e8;
        position: absolute;
        z-index: 10;
        font-style: oblique;
        color: #ffffff;
        text-shadow:0 0 10px rgba(255, 238, 1, 0.8);
        top: 85%;
        transform: translate(0%,-50%);
      }
      .t1-img {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("t1.png");
        background-size: cover;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: solid 6px #5989cf;
        box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.5);
      }
      .t1-img::before{
        content: ' ';
        background-color: rgba(0,0,0,.3);
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .t2-img {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("t2.png");
        background-size: cover;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: solid 6px #5989cf;
        box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.5);
      }
      .t2-img::before{
        content: ' ';
        background-color: rgba(0,0,0,.3);
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .t3-img {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("t3.png");
        background-size: cover;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: solid 6px #5989cf;
        box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.5);
      }
      .t3-img::before{
        content: ' ';
        background-color: rgba(0,0,0,.3);
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .t4-img {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("t4.png");
        background-size: cover;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: solid 6px #5989cf;
        box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.5);
      }
      .t4-img::before{
        content: ' ';
        background-color: rgba(0,0,0,.3);
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .t5-img {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("t5.png");
        background-size: cover;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: solid 6px #5989cf;
        box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.5);
      }
      .t5-img::before{
        content: ' ';
        background-color: rgba(0,0,0,.3);
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    } 
    .cup-info {
      padding: 0px 10px;
      margin-bottom: 50px;
      .author {
        display: flex-end;
        text-align:right;
        span {
          color: rgba(145, 145, 145, 0.9);
          font-size: 20px;
        }
        img {
          margin: 8px 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        .make_name {
          color: rgba(145, 145, 145, 0.9);
        }
        .btn-g {
          display: inline-block;
          font-size: 16px;
          color: #FFF;
          padding: 5px 12px;
          border-radius: 3px;
          background-color: #97CD76;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
        .btn-r {
          display: inline-block;
          font-size: 16px;
          color: #FFF;
          padding: 5px 12px;
          border-radius: 3px;
          background-color: #ED6C63;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
      }
      .rule_info {
        padding: 10px 0px;
        border-bottom: 1px solid #CCC;
        .i_gray {
          margin: 0px 7.5px;
          color: rgba(36, 36, 36, 0.8);
        }
        .i_red {
          margin: 0px 10px;
          color: rgb(255, 0, 0);
        }
        .i_orange {
          margin-left: 8px;
          margin-right: 5px;
          color: rgba(255, 166, 0, 0.8);
        }
        .i_blue {
          margin-left: 5px;
          color: rgba(0, 157, 255, 0.8);
        }
        .i_yellow {
          color: rgba(255, 217, 0, 0.8);
        }
        .i_green {
        color: rgba(0, 110, 64, 0.8);
        }
        .i_pink {
          margin-left: 5px;
          margin-right: 2px;
          color: rgba(255, 0, 170, 0.8)
        }
        .i_dblue {
          margin-left: 8px;
          margin-right: 2px;
          color: rgba(0, 4, 255, 0.8)
        }
      }
      .entry-info {
        display: flex;
        a{
          color: rgb(2, 104, 172);
        }
        .entered {
          margin-left: 60px;
          padding: 8px;
          border-radius: 3px;
          color: #242424;
          background-color: #97CD76;
          border: solid 2px rgb(100, 163, 60);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
        .after-entry-dsp {
          color: #FFF;
          margin-left: 20px;
          padding: 5px 12px;
          border-radius: 3px;
          background-color: #3498DB;
          border: solid 2px rgb(2, 104, 172);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
        // 投稿ボタン の固定
        .post-btn {
          position: relative;
          z-index: 99;
          position: fixed;
          right: 50px;
          bottom: 50px;
          transition: 1s;
          opacity: 0.7;
          img{
            font-size: 30px;
            color: #FFF;
            margin: 8px 8px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 0 2px #3498DB;
            border: solid 5px #3498DB;
          }
          .post-text {
            position: absolute;
            top: 30%;
            left: 2px;
            text-align: center;
            width: 100%;
            color: #FFF;
            font-size: 35px;
            text-shadow:
            rgba(0, 235, 204, 0.8) 1px 1px 15px, rgba(0, 235, 204, 0.8) -1px 1px 15px,
            rgba(0, 235, 204, 0.8) 1px -1px 15px, rgba(0, 235, 204, 0.8) -1px -1px 15px;
          }
        }
        .post-btn:hover{
          opacity: 1;
        }
        .unentry-btn {
          display: flex;
          align-items: center;
          color: #ED6C63;
          margin-left: 20px;
        }
        .before-entry-btn {
          display: inline-block;
          font-weight: bold;
          margin-left: 20px;
          padding: 5px 12px;
          border-radius: 3px;
          border: solid 3px #3498DB;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .ranks-wrapper {
    .rankindex-btn {
      display: flex-end;
      text-align:right;
    }
    .rank_info {
      background-color: white;
      height: auto;
      width: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      .limit {
        color: white;
        background-color: #5989cf;
        b {
          color: yellow;
        }
      }
      .rank_item {
        padding: 15px 15px 15px 15px;
      }
      .rank_item:hover {
        background-color: rgba(190, 226, 255, 0.2);
      }
      .item_body {
        display: flex;
      }
      .max_img {
        margin-right: 15px;
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 2px;
      }
      .media_body {
        .rank_name {
          font-weight: bold;
          color: #555555;
          .i_gold {
            color: rgba(255, 217, 0, 0.8);
          }
          .i_silver {
            color: rgba(132, 134, 136, 0.8);
          }
          .i_copper {
            color: rgba(212, 99, 34, 0.8);
          }
          .i_green {
            color: rgba(34, 212, 129, 0.8);
          }
          .i_none {
            opacity: 0;
          }
        }
        ul {
          padding-left: 0px;
          list-style: none;
          li {
            color: rgba(145, 145, 145, 0.9);
          }
        }
        .fa-chart-bar {
          margin-right: 5px;
        }
        span {
          margin-right: 15px;
        }
        .text_info {
          color: #3498db;
        }
      }
    }
  }
  @media (min-width: 0px) {
    .thumbnail {
      .t1-img {
				width: 40%;
				height: 90px;
			}
			.t2-img {
				width: 40%;
				height: 90px;
			}
			.t3-img {
				width: 40%;
				height: 90px;
			}
			.t4-img {
				width: 40%;
				height: 90px;
			}
			.t5-img {
				width: 40%;
				height: 90px;
			}
      img {
        height: 330px;
      }
      .title {
        top: 17px;
        padding: 5px 10px;
        font-size: 25px;
      }
      .sub_title {
        font-size: 30px;
      }
    } 
    .entry-info {
      .entered {
        font-size: 15px;
      }
      .after-entry-dsp {
        font-size: 15px;
      }
      .unentry-btn {
        font-size: 15px;
      }
      .before-entry-btn {
        font-size: 15px;
      }
    }
    .rule_info h4 {
      font-size: 15px;
    }    
    .media_body {
      .rank_name {
        font-size: 20px;
        .user_img {
          margin: 4px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      ul li {
        font-size: 18px;
        .fa-chart-bar {
          display: none;
        }
      }
    }
  }

  @media (min-width: 767px) {
    .thumbnail {
      .t1-img {
				width: 40%;
				height: 120px;
			}
			.t2-img {
				width: 40%;
				height: 120px;
			}
			.t3-img {
				width: 40%;
				height: 120px;
			}
			.t4-img {
				width: 40%;
				height: 120px;
			}
			.t5-img {
				width: 40%;
				height: 120px;
			}
      img {
        height: 450px;
      }
      .title {
        top: 22px;
        padding: 5px 10px;
        font-size: 30px;
      }
      .sub_title {
        font-size: 35px;
      }
    } 
    .entry-info {
      .entered {
        font-size: 20px;
      }
      .after-entry-dsp {
        font-size: 20px;
      }
      .unentry-btn {
        font-size: 15px;
      }
      .before-entry-btn {
        font-size: 20px;
      }
    }
    .rule_info h4 {
      font-size: 25px;
    }
    .media_body {
      .rank_name {
        font-size: 20px;
        .user_img {
          margin: 4px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      ul {
        display: flex;
        li {
          font-size: 18px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .thumbnail {
      .t1-img {
				width: 40%;
				height: 140px;
			}
			.t2-img {
				width: 40%;
				height: 140px;
			}
			.t3-img {
				width: 40%;
				height: 140px;
			}
			.t4-img {
				width: 40%;
				height: 140px;
			}
			.t5-img {
				width: 40%;
				height: 140px;
			}
      img {
        height: 600px;
      }
      .title {
        top: 27px;
        padding: 5px 10px;
        font-size: 40px;
      }
      .sub_title {
        font-size: 45px;
      }
    } 
    .entry-info {
      .entered {
        font-size: 25px;
      }
      .after-entry-dsp {
        font-size: 25px;
      }
      .unentry-btn {
        font-size: 15px;
      }
      .before-entry-btn {
        font-size: 25px;
      }
    }
    .rule_info h4 {
      font-size: 30px;
    }
    .media_body {
      .rank_name {
        font-size: 30px;
        .user_img {
          margin: 8px 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      ul {
        display: flex;
        li {
          font-size: 25px;
        }
      }
    }  
  }

  @media (min-width: 1200px) {
    .thumbnail {
      .t1-img {
				width: 40%;
				height: 160px;
			}
			.t2-img {
				width: 40%;
				height: 160px;
			}
			.t3-img {
				width: 40%;
				height: 160px;
			}
			.t4-img {
				width: 40%;
				height: 160px;
			}
			.t5-img {
				width: 40%;
				height: 160px;
			}
      img {
        height: 700px;
      }
      .title {
        top: 22px;
        padding: 5px 10px;
        font-size: 50px;
      }
      .sub_title {
        font-size: 55px;
      }
    } 
    .entry-info {
      .entered {
        font-size: 30px;
      }
      .after-entry-dsp {
        font-size: 30px;
      }
      .unentry-btn {
        font-size: 20px;
      }
      .before-entry-btn {
        font-size: 30px;
      }
    }
    .rule_info h4 {
      font-size: 35px;
    }    
    .media_body {
      .rank_name {
        font-size: 35px;
        .user_img {
          margin: 8px 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      ul li {
        font-size: 30px;
      }
    }
  }   
}