#tournament_new {
  .bg_coler {
    padding: 0 10px;
    border: solid 2px #dddddd;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    // border-bottom: 2px solid #CCC;
  }
  // 必須項目
  .label{
    background-color: red;
    padding: 1px 5px 1px 5px;
    font-size: 50%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    border-radius: 8px;
  }
  // 追加項目
  .add_label{
    background-color: rgb(0, 167, 75);
    padding: 1px 5px 1px 5px;
    font-size: 50%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    border-radius: 8px;
  }
  .explain{
    font-size: medium;
    color:rgb(100, 100, 100);
  }
  .thumbnail {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); ;
    margin: auto;
		width: 100%;
		height: auto;
		overflow:	hidden;
		position:	relative;
    cursor: pointer;
    #tournament_img {
      display: none;  /* 本来のファイル選択フォームは非表示に */
    }
    img {
      // height: 400px;
      // width: 100%;
      object-fit: contain;
    }
    #img_prev {
      border: 2px solid #dddddd;  /* 枠線 */
      display: inline-block;     /* インラインブロック化 */
    }
    .caption {
      font-size: 130%;
      text-align: center;
      color: #fff;
    }
    .mask {
      width: 100%;
      // height: 400px;
      position:	absolute;
      top: 0;
      left:	0;
      opacity: 0;	/* マスクを表示しない */
      background-color: rgba(0,0,0,0.4);
      -webkit-transition:	all 0.6s ease;
      transition:	all 0.6s ease;
    }
	}
	.thumbnail:hover .mask {
		opacity: 1;	/* マスクを表示する */
		padding-top: 180px;	/* ホバーで下にずらす */
	}
  .tournaments-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  // リストの表示
  ul.image-list {
    text-align: center;
    padding: 0 10px;
  }
  ul.image-list li {
    display: inline-block;
    margin: 9px 5px;
    border: solid 3px #dddddd;
    border-radius: 5px;
    .image-box {
      cursor: pointer;
      position: relative;
    }
  }
  ul.image-list li:active {
    position: relative;
    top: 3px;
  }
  .image-box:hover {
    opacity: 0.8;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-0.15em);
  }
  .image-box img.image {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 100%;
  }
  // イメージ内のラジオボタンの設定
  .image-box .radio-box {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transform: scale(2);
    opacity: 0.2;
  }
  .image-box .radio-box:checked {
    opacity: 1;
  }
  ul.image-list p {
    font-size: 20px;
    text-align: center;
  }
  #othertext {
    display: none;
  }
  .limit_select {
    #limit_content {
      display: none;
      img {
        width: 100%;
      }
    }
    #judging_limit {
      display: none;
    }
    #swap_limit {
      display: none;
    }
  }
  @media (min-width: 0px) {
    h1 {
      font-size: 30px;
    }
    b {
      font-size: 20px;
    }
    label {
      font-size: 15px;
    }
    .thumbnail {
      img {
        height: 300px;
      }
      .mask {
        height: 300px;
      }
    }
    .image-box {
      width: 200px;
      height: 160px;
    }
  }
  @media (min-width: 767px) {
    h1 {
      font-size: 30px;
    }
    b {
      font-size: 20px;
    }
    label {
      font-size: 15px;
    }
    .thumbnail {
      img {
        height: 300px;
      }
      .mask {
        height: 300px;
      }
    }
    .image-box {
      width: 250px;
      height: 200px;
    }
  }

  @media (min-width: 992px) {
    h1 {
      font-size: 40px;
    }
    b {
      font-size: 20px;
    }
    label {
      font-size: 15px;
    }
    .thumbnail {
      img {
        height: 400px;
      }
      .mask {
        height: 400px;
      }
    }
    .image-box {
      width: 250px;
      height: 200px;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 40px;
    }
    b {
      font-size: 25px;
    }
    label {
      font-size: 20px;
    }
    .thumbnail {
      img {
        height: 400px;
      }
      .mask {
        height: 400px;
      }
    }
    .image-box {
      width: 250px;
      height: 200px;
    }
  }
}